@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger">@ViewBag.Erro</div>
}

<form asp-action="Login" method="post">
    <div class="mb-2">
        <input name="email" class="form-control" placeholder="Email" required />
    </div>

    <div class="mb-2">
        <input name="senha" type="password" class="form-control" placeholder="Senha" required />
    </div>

    <button class="btn btn-primary w-100">Entrar</button>
</form>

<hr>

<a asp-action="CadastroCorredor" class="btn btn-outline-success w-100 mb-2">Sou Corredor</a>
<a asp-action="CadastroOrganizador" class="btn btn-outline-info w-100">Sou Organizador</a>
